body{
	padding-top:70px;
}

input {
	margin: 15px;
}


.jumbotron{
	color:#2c3e50;
	background: #ecf0f1;	
}

.navbar-inverse{
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-brand{
	color: white;
}


.btn-default{
	background-color: #dff0d8;
}

#age{
	width: 10%;
}

#study{
	width: 30%;
}

#skills{
	width: 50%;

}